name: Correct error files using AI service

on:
  workflow_dispatch:
    inputs:
      logs:
        description: 'Logs to send'
        required: true

jobs:
  send-logs-and-files:
    runs-on: ubuntu-latest
    steps:
      - name: Install jq
        run: sudo apt-get install jq

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get file paths
        id: get-file-paths
        run: |
          files="$(git ls-files -z | tr '\0' ,)"
          echo "::set-output name=file-paths::$files"

      - name: Send logs to API
        id: send-logs
        env:
          API_URL: https://26ad-2402-4000-2200-f0d3-a926-cab1-f39f-a602.ngrok-free.app/identify-files/
          LOGS: ${{ github.event.inputs.logs }}
          FILE_PATHS: ${{ steps.get-file-paths.outputs.file-paths }}
        run: |
          payload=$(jq -n --arg logs "$LOGS" --arg file_paths "$FILE_PATHS" '{"error_message": $logs, "available_files": $file_paths}')
          echo "payload: $payload"
          response=$(curl -X POST -H 'accept: application/json' -H "Content-Type: application/json" -d "$payload" "$API_URL")
          echo "Response: $response"
          identifiedFiles=$(echo "$response" | jq -r '.identified_files')
          echo "::set-output name=identified-files::$identifiedFiles"

      - name: Send file to API
        id: send-file
        env:
          API_URL: https://26ad-2402-4000-2200-f0d3-a926-cab1-f39f-a602.ngrok-free.app/correct-errors/
          FILE_NAME: ${{ steps.send-logs.outputs.identified-files }}
          FILE_PATH: ${{ steps.send-logs.outputs.identified-files }}
          LOGS: ${{ github.event.inputs.logs }}
        run: |
          file_content=$(cat "$FILE_PATH")
          echo "file content: $file_content"
          
      - name: Modify the file
        run: |
          file_path=${{ steps.send-logs.outputs.identified-files }}
          corrected_data=${{ steps.send-file.outputs.corrected-files }}
          echo "$corrected_data" > "$file_path"
